/* Home.css */
.home-container {
  position: relative;
  overflow: hidden;
}

.header {
  background: url('./images/banner2.jpg') center/cover no-repeat;  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;  
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.content {
  text-align: left;
  padding: 20px;
  z-index: 1;
  
}

.display-4 {
  font-size: 3rem;
  margin: 0;
  color: #385723; /* Adjust text color */
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  color: #110707; /* Adjust text color */
}

.btn-primary {
  background-color: #385723;
  border-color: #385723;
  color: #fff; /* Text color */
  transition: background-color 0.3s ease; /* Add smooth transition effect */
  text-decoration: none; /* Added to ensure the link behaves like a link */
  
}

.btn-primary:hover {
    text-decoration: none; /* Added to ensure the link behaves like a link */
  background-color: #131413; /* Darker color on hover */
}
